
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* colors */
    --pink: #f7567c;
    --yellow: #ffd166;
    --cyan: #00ffc6;
    --darkblue: #001c62;
    --peach: #f9dbbd;
    --white:#f5f5f5;

    /* font size */
    --xlargeFont: 70px;
    --largeFont: 43px;
    --mediumFont: 26px;
    --smallFont: 16px;

    /* font-weight */
    
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --thin: 100;

    
    /* margins */
    --largeSpace: 60px;
    --mediumSpace: 35px;
    --smallSpace: 10px;

    --regularTransition: all 0.2s ease-out;
    
    
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


*:before,
*:after {
    box-sizing: border-box;
    
}


body {
    background-color: var(--white);
    color: var(--darkblue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    
}
.current{
    text-decoration: underline;
}
.main{
    width: 60vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


h1{
    font-size: var(--xlargeFont);
    font-weight: var(--light);
}
h2{
    font-size: var(--largeFont);
    font-weight: var(--medium);
}
h3{
    font-size: var(--mediumFont);
}

p{
    font-size: var(--smallFont);
}


nav{
    margin-top: var(--smallSpace);
    display:flex;
}
nav a{
    color: var(--pink);
    margin-right: 25px;
}
nav a:hover{
    color: var(--cyan);
    text-decoration: underline;
}
nav a:active{
    color: var(--cyan);
    text-decoration: underline;
}

/* ====================================INDEX================================ */
.bio{
    display: flex;
    flex-direction: column;
    margin-top: var(--largeSpace);
}

.bio .index-subhead {
    font-size: var(--mediumSpace);
    font-weight: var(--regular);
    
}

.bio img{
    height: 200px;
    width: 200px;

}

.bio> .hey{
    margin: var(--mediumSpace);
    margin-left: 0;
}
.bio > .about-me{
    display: flex;
    margin-top: var(--mediumSpace);
    flex-direction: row;
}
.bio > .about-me > img{
    height: 250px;
    width: 250px;
}

.about-me article{
    width: 60%;
    margin-left: var(--largeSpace);
    align-self: center;
}

.interests{
    margin-top: var(--largeSpace);
   
}

.interests ul{
    margin-top: var(--mediumSpace);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.projects{
    margin-top: var(--largeSpace);

}
.projects div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects iframe{
    margin-top: var(--mediumSpace);
 
}

/* ====================================ASSIGNEMENTS================================ */


.assignement-card {

    width: 100%;
    margin: var(--mediumSpace);
    margin-left: 0;
    padding: var(--mediumSpace);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    

}
.assignement-card a{
    color: var(--white);
    background-color: var(--pink);
    text-align: center;
    padding-top: 5px;
    width: 100px;
    height: 35px;
}
.assignement-card a:hover{
    transition: var(--regularTransition);
    background-color: var(--cyan);
    
}

/* ==================================== Readings ================================ */

.reading-main{
    background-color: white;
    margin-top: var(--mediumSpace);
    border-radius: var(--smallSpace);
    padding: var(--mediumSpace);
}
/* .reading-main h3{
    width: 90%;
} */
.reading-main p{
    margin-top: var(--mediumSpace);
   font-size: 18px;
   width: 80%;
}


/* ==================================== FOOTER ================================ */

footer{
    margin-top: var(--largeSpace);
    width: 100%;
    height: 50px;
    /* position: absolute;
    bottom:0; */
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--darkblue);
}



@media only screen and (max-width: 600px) {
    .main{
        width: 80vw;
        padding: 0;
        align-items: center;
    }
    h1{
        margin-top: 100px;
        line-height: 40px;

    }
    .subhead{
        font-size: 20px;
    }
    nav {
        position: fixed;
       
        top:0;
        width: 100%;
        height: 50px;
        display: flex;
        background-color: var(--darkblue);
        
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    nav a{
        color: var(--white);
    }
    h2{
        align-self: center;
    }
    .bio > .about-me{
        display: flex;
        align-items: center;
        
        flex-direction: column;
    }
    .about-me article{
        width: 100%;
        margin: 0;
    }
    .bio img{

    }
    footer{
        position: relative;
    }
  }